<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A Thing</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <form action="add-thing" method="POST">
        <fieldset>
            <legend>Fill Out the Form</legend>
            <label>Name of Thing</label>
            <input type="text" name="thing">
            <button type="submit">Add Thing</button>
        </fieldset>
    </form>
</body>
</html>