<%- include('includes/head.ejs')%>
</head>
<body>
<%- include('includes/header.ejs')%>
<main>
<img src="../public/images/404.png" alt="Image of confused girl due to 404 error.">
<p>Ummm... Not sure what you were expecting, but there's nothing here.</p>
</main>
<%- include('includes/footer.ejs')%>