<%- include('includes/head.ejs')%>
</head>
<body>
    <%- include('includes/header.ejs')%>
<main>
    <form method="post" action="/add-book">
        <fieldset>
            <legend>Add A Book</legend>
            <label for="title">Title</label>
            <input type="text" placeholder="Ender's Game" name="title" required>
            <label for="author">Title</label>
            <input type="text" placeholder="Orson Scott Card" name="author" required>
            <label for="price">Title</label>
            <input type="text" placeholder="18.99" name="price" required>
            <label for="desc">Title</label>
            <input type="text" placeholder="Science fiction about a boy who fights a galactic war." name="desc" required>
            <label for="image">Title</label>
            <input type="text" placeholder="https://www0.alibris-static.com/enders-game/isbn/9780812550702.gif" name="image" required>
            <button type="submit">Add to Library</button>
        </fieldset>
    </form>
</main>
<%- include('includes/footer.ejs')%>